p{
    color:blue;
    font-size: 2vw;
}

#miParrafo{
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

#miDiv{
    background-color: green;
    color: rgba(100, 0, 0, 0.9);
    width: 50%;
}