table,th,tr,td{
    border: 2px black solid;
    border-collapse: collapse;
}

tr:nth-child(odd){
    background-color: rgba(255, 10, 1, 0.5);
}

tr:nth-child(odd):hover{
    background-color: rgba(255, 10, 10, 0.1)
}

th{
    padding: 10px;
    height: 50px;
    text-align: center;
}

tr:hover{
    background-color: rgba(0, 245, 10, 1);
    transition: background-color 3s;
}

table{
    width: 2000px;
}

.contenedor{
    overflow-x:scroll;
}